In [63]:
import yfinance as yf
import pandas as pd
import numpy as np
# Lấy dữ liệu lịch sử của cổ phiếu MSFT từ năm 2010 đến nay
data = yf.download('MSFT', start='2010-01-01', end='2024-05-16')
data.head()

[*********************100%%**********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close    Volume
Date
2010-01-04  30.620001  31.100000  30.590000  30.950001  23.389395  38409100
2010-01-05  30.850000  31.100000  30.639999  30.959999  23.396961  49749600
2010-01-06  30.879999  31.080000  30.520000  30.770000  23.253372  58182400
2010-01-07  30.629999  30.700001  30.190001  30.450001  23.011543  50559700
2010-01-08  30.280001  30.879999  30.240000  30.660000  23.170246  51197400

Chia dữ liệu thành 2 phần:
Phần 1 tới 23/6/2023 dùng để huấn luyện và phần sau dùng để đánh giá hiệu suất

In [82]:
close = data['Adj Close']

date = pd.to_datetime(close.index)
type(date)
# close.index
# def split_by_weeks(data, num_weeks):
#     """
#     Chia data thành tập train và test theo số tuần.

#     Args:
#     data: DataFrame chứa data.
#     num_weeks: Số tuần trong tập train.

#     Returns:
#     X_train: Data train.
#     X_test: Data test.
#     """

#     last_date = data.index.iloc[-1]
#     train_end_index = data.index.get_loc(last_date - pd.Timedelta(days=7 * num_weeks))

#     X_train = data[data.index <= train_end_index]['Adj Close']
#     X_test = data[data.index > train_end_index]['Adj Close']

#     return X_train, X_test

# X_train, X_test = split_by_weeks(data.copy(), 52)

pandas.core.indexes.datetimes.DatetimeIndex